{% extends "base.html" %}

{% block content %}

    <h1 align="left">Neue Route hinzufügen</h1>

    <div class="container">
        <form action="/addRoute/upload" method="post" enctype = "multipart/form-data">
            {{addRouteForm.csrf_token}}
            
            <!--Contains the inputs for adding a new route-->
            <div id="addRoute_infoContainer" class="row">
                <div id="addRoute_container" class="col card addRoute_contentContainerLeft">
                    <div id="addRoute_routeInfo" class="card-body">

                        <!--Title-->
                        <div class="row ">
                            <div class="col">
                                {{addRouteForm.name.label(class="form-label")}}
                                {{addRouteForm.name(class="form-control")}}
                            </div>
                        </div>

                        <!--Duration-->
                        <div class="row addRoute_contentSeparator">
                            <div class="col">
                                {{addRouteForm.duration.label(class="form-label")}}
                                {{addRouteForm.duration(class="form-control")}}
                            </div>
                        </div>

                        <!--Technical Difficulty-->
                        <div class="row addRoute_contentSeparator">
                            <div class="col">
                                <div class="row">
                                    <div class="col" style="flex-wrap: nowrap;">
                                        {{addRouteForm.technicalDifficulty.label(class="form-label")}}
                                    </div>
                                </div>

                                <div class="row">
                                    {% for subfield in addRouteForm.technicalDifficulty %}
                                        <tr>
                                            <div>
                                                {{ subfield }}
                                                {{ subfield.label }}
                                            </div>
                                        </tr>
                                    {% endfor %}
                                </div>
                            </div>

                            <!--Stamina-->
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        {{addRouteForm.stamina.label(class="form-label")}}
                                    </div>
                                </div>

                                <div class="row">
                                    {% for subfield in addRouteForm.stamina %}
                                        <tr>
                                            <div>
                                                {{ subfield }}
                                                {{ subfield.label }}
                                            </div>
                                        </tr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Description-->
                <div id="addRoute_RouteDescription" class="col card addRoute_contentContainerRight">
                    <div class="row card-body">
                        <div class="col">
                            {{addRouteForm.description.label(class="form-label")}}
                            {{addRouteForm.description(class="form-control descriptionBox")}}
                        </div>
                    </div>
                </div>
            </div>


            <div id="addRoute_VisualContainer" class="row mt-3 ">
                <!--Trail/Map-->
                <div id="addRoute_Trail" class="col card addRoute_contentContainerLeft">
                    <div class="row card-body">
                        <div class="col">
                            {{addRouteForm.trail.label(class="form-label")}}
                            {{addRouteForm.trail(class="form-control")}}
                        </div>
                    </div>
                </div>

                <!--Preview Image-->
                <div id="addRoute_PreviewImage" class="col card addRoute_contentContainerRight">
                    <div class="row card-body">
                        <div class="col">
                            {{addRouteForm.previewImage.label(class="form-label")}}
                            {{addRouteForm.previewImage(class="form-control")}}
                        </div>
                    </div>
                </div>
            </div>


            <!--Display Error Messages and Submit Button-->
            <div class="row addRoute_contentSeparator">
                {% if addRouteForm.errors != {} and request.method != "GET" %}
                    {% for field, msg in addRouteForm.errors.items() %}
                        <div class="alert alert-danger" role="alert">{{ msg[0] }}</div>
                    {% endfor %}
                {% endif %}

                <div class="col text-center">
                    {{addRouteForm.submit(class="btn", style="background-color: var(--farbe2)")}}
                </div>
            </div>
        </form>
    </div>


{% endblock %}
