{% extends "base.html" %}

{% block content %}

    <h1 align="center"> Übersicht über alle registrierten Benutzer </h1>

    <p><br></p>

    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Benutzername</th>
                <th scope="col">Email-Adresse</th>
                <th scope="col">Rolle</th>
                <th scope="col">Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for u in allUsers %}
                <tr>
                    <th scope="row">{{ u.username }}</th>
                    <td>{{ u.emailAdresse }}</td>
                    <td>{% if u.rolle == 1 %}
                            Administrator
                        {% endif %}

                        {% if u.rolle != 1 %}
                            Benutzer
                        {% endif %}
                    </td>
                    <td>
                        <ul class="list inline m-0">
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModalFor{{ u.username }}" data-toggle="tooltip" data-placement="top" title="Benutzer löschen"><i class="fa fa-trash"></i></button>

                                <div class="modal" id="myModalFor{{ u.username }}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Benutzer löschen</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Möchten Sie den Benutzer {{ u.username }} endgültig löschen?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="window.location.href = '/benutzerLoeschen//{{ u.username }}';">Löschen</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>

                                {% if u.rolle != 1 %}

                                    <button type="button" class="btn btn-primary" onclick="window.location.href='/benutzerRechteErhoehen/{{ u.username }}';" data-toggle="tooltip" data-placement="top" title="Benutzer zu Administrator machen"><i class="fa fa-user-plus" aria-hidden="true"></i></button>

                                {% endif %}
                                {% if u.rolle == 1 %}

                                    <button type="button" class="btn btn-primary" onclick="window.location.href='/benutzerRechteVerringern/{{ u.username }}';" data-toggle="tooltip" data-placement="top" title="Administratorenrechte des Benutzers entfernen"><i class="fa fa-user-times" aria-hidden="true"></i></button>

                                {% endif %}

                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}                
        </tbody>
    </table>



{% endblock %}


{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>
    
    $(document).ready(function () {
    $('#example').DataTable();
    });

    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
    });

    {% for u in allUsers %}
        $('#myModalFor{{ u.username }}').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
        })
    {% endfor %}


</script>
  
{% endblock %}