{% extends "base.html" %}

{% block content %}


    <h1 align="center"> Finde eine spannende Tour für dich </h1>


    <div class="col-10 mx-auto">

            
        <h2 class="col-8"> Übersicht der Startpunkte auf der Karte</h2>
            

        <div id="mapdiv" style="height:400px; width:100%;">&nbsp;</div>       

        <br/>

        <br/>

        <br/>
        <br/>

        <h2> Touren in deiner Nähe </h2>
        <br/>

        <div id="demo">
        </div>

        <br/>
        <br/>

        <h2> Alle Touren auf einen Blick </h2>
        <br/>

        <div class="row">
            

            {% for t in touren %}
            
                <div class="card bg-dark text-white col-lg-4 col-md-6 p-3 border bg-light">
                    <div class="card-header">
                        <h3> {{ t.name }} </h3>
                    </div>
                    <img class="card-img" src="./.{{ t.previewImage }}" alt="Card image">
                    <div class="card-footer">
                        <a href="/routeDetails/{{ t.id }}" class="btn btn-primary stretched-link">Mehr Details</a>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

    



{% endblock %}

{% block scripts %}
<script src="https://www.openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
<script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var positionLon = '';
    var positionLat = '';
    
    var lonLat = new OpenLayers.LonLat( 8.5166646, 53.0166666 ).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject() );

    navigator.geolocation.getCurrentPosition(
        function(position){
            // wenn Position ermittelt werden konnte liefert position.coords.latitude und position.coords.longitude die entsprechenden Längen- und Breitengrade
            lonLat = new OpenLayers.LonLat( position.coords.longitude, position.coords.latitude ).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject() );
            
            positionLon = position.coords.longitude;
            positionLat = position.coords.latitude;

            var zoom=12;
            map.setCenter (lonLat, zoom);

            tourenInDeinerNaeheFinden();
        }, 
        function () {
            // die zweite Funktion wird ausgeführt, wenn keine Positionsermittlung stattfinden konnte
            lonLat = new OpenLayers.LonLat( 8.7166646, 52.0166666 ).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject() // to Spherical Mercator Projection
            );

            positionLon = 8.7166646;
            positionLat = 52.0166666;

            var zoom=12;
            map.setCenter (lonLat, zoom);

            tourenInDeinerNaeheNichtGefunden();
    })

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    var size = new OpenLayers.Size(25,25);
    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
   
    /* einzelne Markierungen setzen */
    {% for t in touren %}
    
        var lonLat_{{ t.id }} = new OpenLayers.LonLat( {{ t.longitude }}, {{ t.latitude }} ).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()   );
        var marker_{{ t.id }} = new OpenLayers.Marker( lonLat_{{ t.id }} );
        marker_{{ t.id }}.events.register("click", map, function(e) { location.href = "/routeDetails/{{ t.id }}"  });
        markers.addMarker(marker_{{ t.id }});


    {% endfor %}

    
    function tourenInDeinerNaeheFinden() {
        $.getJSON( '/routeoverview/tourenInNaehe/'+positionLon+'/'+positionLat,    function (data) {
            var htmlString = '<div class="row">'
            for (key in data.routen)
            {                
                htmlString+= '<div class="card bg-dark text-white col-lg-4 col-md-6 p-3 border bg-light">'
                htmlString+= '    <div class="card-header">'
                htmlString+= '        <h3>'+data.routen[key].title+'</h3>'
                htmlString+= '    </div>'
                htmlString+= '    <img class="card-img" src="./.'+data.routen[key].pfad+'" alt="Card image">'
                htmlString+= '    <div class="card-footer">'
                htmlString+= '        <a href="/routeDetails/'+ key+'" class="btn btn-primary stretched-link">Mehr Details</a>'
                htmlString+= '    </div>'
                htmlString+= '</div>'
            }
            htmlString+='</div>'
            document.getElementById("demo").innerHTML = htmlString;
                                
        });
    };

    function tourenInDeinerNaeheNichtGefunden(){
        var htmlString = '<br/>'
        htmlString += '<p>Es konnten keine Routen in Ihrer Nähge gefunden werden.</p>'
        htmlString += '<p>Bitte stellen Sie sicher, dass Sie der Webseite Zugriff auf Ihren Standort gewähren.</p>'
        document.getElementById("demo").innerHTML = htmlString;

    }


    
    




    
    






    
</script>


{% endblock %}