{%extends "base.html"%}

{%block content%}
<div class="row mt-3">
    <h1>{{user.username}}'s Profil:</h1>
</div>
<div class="container mt-3">
    <div>
        <form action="{{user.benutzername}}" method="post">
            {{form.hidden_tag()}}
            <div class="row gutters-sm">
                <!-- Berich mit den Benutzerinfos. wenn man sein eigenes Profil aufruft, kann man die daten ändern -->
                <div class="col-md-8 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.user_name.label(class="form-label")}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.user_name(class="form-control",value=user.username, readonly=
                                    not(current_user.username==user.username))}}
                                </div>
                            </div>
                            {%if user == current_user%}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.email.label(class="form-label")}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.email(class="form-control", value=user.emailAdresse)}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.new_password.label(class="form-label")}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.new_password(class="form-control", placeholder="***")}}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.confirm_password.label()}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.confirm_password(class="form-control", placeholder="***")}}
                                </div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4>{{user.username}}s Touren:</h4>
                            <div class="list-group">
                                {%if displayed_tours%}
                                {%for t in displayed_tours%}
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{t.name}}</h5>
                                        <small>{{t.duration}}</small>
                                    </div>
                                    <p class="mb-1">{{t.description[:20]}}...</p>
                                </a>
                                {%endfor%}
                                {%else%}
                                <div class="mt-3 d-flex flex-column align-items-center text-center">
                                    <h3 class="text-black-50 fst-italic">{{user.username}} hat noch keine Touren veröffentlicht.</h3>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Zweiter Teil der Avatar und Speichern-BUtton enthält -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="row">
                                    <img class="mb-2" src="{{url_for('static', filename='img/avatar.svg')}}"
                                        alt="Avatar" style="width:7em">
                                </div>
                                <div class="row mb-2">
                                    <!-- TODO: Hier ist plaatz für statistiken oder so vielleicht -->
                                    <div class="align-center" style="font-size: 1.4em">{{user.username}}</div>
                                    <small class="text-black-50">Angemeldet seit dem {{user.member_since}}</small>
                                </div>
                                {%if current_user.username == user.username%}
                                <div class="row container-fluid">
                                    <hr class="my-2">
                                </div>
                                <div class="row mt-2">
                                    <div class="mb-2">
                                        <div class="row">
                                            {{form.submit(class="btn btn-success")}}
                                        </div>
                                        <div class="row mt-2">
                                            <button class="btn btn-light border border-danger text-danger"
                                                onclick='if(confirm("Sicher, dass du dein Konto mit dem Benutzernamen {{user.username}} löschen möchstes?")){location.href = "/benutzerLoeschen/{{current_user.username}}";}'>
                                                Konto Löschen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                {%if current_user.rolle==1%}
                                <div class="mt-3">
                                    <h6 class="text-success">Dieses Konto hat Admin-Rechte</h6>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{%endblock%}