{%extends "base.html"%}

{%block content%}
<div class="row mt-3">
    <h1>{{user.username}}'s Profil:</h1>
</div>
<div class="container mt-3">
    <div>
        <form action="{{user.benutzername}}" method="post">
            {{form.hidden_tag()}}
            <div class="row gutters-sm">
                <!-- Berich mit den Benutzerinfos. wenn man sein eigenes Profil aufruft, kann man die daten ändern -->
                <div class="col-md-8 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.user_name.label(class="form-label")}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.user_name(class="form-control",value=user.username, readonly=
                                    not(current_user.username==user.username))}}
                                </div>
                            </div>
                            {%if user == current_user%}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.email.label(class="form-label")}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.email(class="form-control", value=user.emailAdresse)}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.new_password.label(class="form-label")}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.new_password(class="form-control", placeholder="***")}}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">{{form.confirm_password.label()}}</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{form.confirm_password(class="form-control", placeholder="***")}}
                                </div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-header bg-white">
                            <h4>{{user.username}}s Touren:</h4>
                        </div>
                        <div class="card-body overflow-scroll" style="height: 20em;" id="routes-card-body">
                            <div class="list-group" id="routes-list-group">
                            </div>
                            <div class="d-flex justify-content-center mt-2">
                                <div class="spinner-grow" role="status" id="ajax-loading">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="mt-3 flex-column align-items-center text-center" id="no-routes-alert">
                                <h3 class="text-black-50 fst-italic">{{user.username}} hat noch keine Touren veröffentlicht.</h3>
                            </div>

                            <script>
                                $('#no-routes-alert').hide();
                                var page = 1;  /* the page var is incremented with every API request*/
                                var username = "{{user.username}}";
                                listgroup = $('#routes-list-group');
                                function getNewData() {
                                    if (page != -1) {       /* Test, if all data has been feched*/
                                        $.ajax({
                                            url: `/api/routes/${username}`,
                                            data: {
                                                "first": page * 10 - 9,  /* Every API request gets ten more routes to render*/
                                                "last": page * 10,
                                            },
                                            success: function (data, s, x) {
                                                if (data.response.length > 0) {
                                                    for (let i = 0; i < data.response.length; i++) {
                                                        listgroup[0].insertAdjacentHTML('beforeend', `<a href="/routeDetails/${data.response[i].id}" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">${data.response[i].name}</h5>
                                                            <small class="text-secondary">${data.response[i].duration}min | ${data.response[i].distance}m</small>
                                                        </div>
                                                        <p class="mb-1 text-secondary">${data.response[i].description.slice(0, 20)}...</p>
                                                    </a>`
                                                        );
                                                    }
                                                    page = page + 1;
                                                } else {
                                                    if(page==1){
                                                        $('#no-routes-alert').show();
                                                    }
                                                        $('#ajax-loading').hide(); /*When there is nothng to get from the server, hide spinner and set page to -1*/
                                                    page = -1;
                                                }
                                                console.log("API Fertig mit ", data.response.length);
                                            }
                                        });

                                    }
                                }


                                $('#routes-card-body')[0].addEventListener( /*trigger getNewdata when list is scrolled to the end*/
                                    'scroll',
                                    function () {
                                        var scrollTop = $('#routes-card-body')[0].scrollTop;
                                        var scrollHeight = $('#routes-card-body')[0].scrollHeight; // added
                                        var offsetHeight = $('#routes-card-body')[0].offsetHeight;
                                        // var clientHeight = document.getElementById('box').clientHeight;
                                        var contentHeight = scrollHeight - offsetHeight; // added
                                        if (contentHeight <= scrollTop) // modified
                                        {
                                            getNewData();
                                        }
                                    },
                                    false
                                )
                                getNewData();
                            </script>


                        </div>
                    </div>
                </div>
                <!-- Zweiter Teil der Avatar und Speichern-BUtton enthält -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="row">
                                    <img class="mb-2" src="{{url_for('static', filename='img/avatar.svg')}}"
                                        alt="Avatar" style="width:7em">
                                </div>
                                <div class="row mb-2">
                                    <div class="align-center" style="font-size: 1.4em">{{user.username}}</div>
                                    <small class="text-black-50">Angemeldet seit dem {{user.member_since}}</small>
                                </div>
                                {%if current_user.username == user.username%}
                                <div class="row container-fluid">
                                    <hr class="my-2">
                                </div>
                                <div class="row mt-2">
                                    <div class="mb-2">
                                        <div class="row">
                                            {{form.submit(class="btn btn-success")}}
                                        </div>
                                        <div class="row mt-2">
                                            <button class="btn btn-light border border-danger text-danger"
                                                onclick='if(confirm("Sicher, dass du dein Konto mit dem Benutzernamen {{user.username}} löschen möchstes?")){location.href = "/benutzerLoeschen/{{current_user.username}}";}'>
                                                Konto Löschen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                {%if current_user.rolle==1%}
                                <div class="mt-3">
                                    <h6 class="text-success">Dieses Konto hat Admin-Rechte</h6>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{%endblock%}