{%extends "base.html"%}

{%block content%}
<div class="row mt-3">
    <h1>{{user.username}}'s Profil:</h1>
</div>
<div class="container mt-3">
    <div>
        <form action="{{user.benutzername}}" method="post">
            {{form.hidden_tag()}}
            <div class="row gutters-sm">
                <!-- Accout information area, these can be edited, when visitin your own profile -->
                <div class="col-md-8 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="input-group mb-3">
                                    <span class="input-group-text profile-input" id="basic-addon1"><i
                                            class="fa fa-person"></i></span>
                                    {{form.user_name(class="form-control",value=user.username,
                                    readonly=not(current_user.username==user.username), placeholder="Benutzername")}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <span class="input-group-text profile-input" id="basic-addon1"><i
                                        class="fa fa-at"></i></span>
                                        {{form.email(class="form-control", value=user.emailAdresse,
                                        placeholder="E-Mail-Adresse", readonly=not(current_user.username==user.username))}}
                                    </div>
                                </div>
                                {%if user == current_user%}
                            <hr>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <span class="input-group-text profile-input" id="basic-addon1"><i
                                            class="fa fa-lock"></i></span>
                                    {{form.new_password(class="form-control", placeholder="***")}}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="input-group mb-3">
                                    <span class="input-group-text profile-input" id="basic-addon1"><i
                                            class="fa fa-check-double"></i></span>
                                    {{form.confirm_password(class="form-control", placeholder="***")}}
                                </div>
                            </div>

                            <!-- If there Forms validate()-Function found any errors, render them as Bootstrap-alerts: -->
                            {% if form.errors != {} and request.method != "GET" %}
                            {% for field, msg in form.errors.items() %}
                            <div class="alert alert-danger" role="alert">{{ msg[0] }}</div>
                            {% endfor %}
                            {% endif %}

                            {%endif%}
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4>{{user.username}}s Touren:</h4>
                            <div class="list-group">
                                {%if displayed_tours%}
                                {%for t in displayed_tours%}
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{t.name}}</h5>
                                        <small class="text-secondary">{{t.duration}}min | {{t.distance}}m</small>
                                    </div>
                                    <p class="mb-1 text-secondary">{{t.description[:20]}}...</p>
                                </a>
                                {%endfor%}
                                {%else%}
                                <div class="mt-3 d-flex flex-column align-items-center text-center">
                                    <h3 class="text-black-50 fst-italic">{{user.username}} hat noch keine Touren
                                        veröffentlicht.</h3>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="row">
                                    <img class="mb-2" src="{{url_for('static', filename='img/avatar.svg')}}"
                                        alt="Avatar" style="width:7em">
                                </div>
                                <div class="row mb-2">
                                    <div class="align-center" style="font-size: 1.4em">{{user.username}}</div>
                                    <small class="text-black-50">Mitglied seit dem {{user.member_since}}</small>
                                </div>
                                {%if current_user.username == user.username%}
                                <div class="row container-fluid">
                                    <hr class="my-2">
                                </div>
                                <div class="mb-2">
                                    <div class="row">
                                        {{form.submit(class="btn profile-input")}}
                                    </div>
                                    {%endif%}
                                    {%if current_user.rolle==1 or current_user.username == user.username%}
                                    <div class="row mt-2">
                                        <button class="btn btn-light border border-danger text-danger"
                                            data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal"
                                            type="button">
                                            Konto Löschen
                                        </button>
                                    </div>
                                    {%endif%}
                                </div>
                                {%if user.rolle==1%}
                                <div class="mt-3">
                                    <h6 class="text-success text-center">Dieses Konto hat Admin-Rechte</h6>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Confirmation Dialogue for Account deletion -->
<div class="modal" id="deleteConfirmationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Konto löschen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Bist du dir sicher, das du das Konto mit dem Benutzernamen {{user.username}} endgültig löschen
                    möchtest?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                    onclick="window.location.href = '/benutzerLoeschen//{{ user.username }}';">Löschen</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}