{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="row">
            <h1 align="left" class="col">Details für "{{ route.name }}":</h1>
        </div>

        <!--navigation through details: select highlight, highlightImage and routeImage-->
        <div class="row"  style="background-color: var(--farbe2)">
            <div class="col">
                <ul class="nav justify-content-center border-bottom border-top align-middle">
    
                    <li class="nav-item mx-4">
                        <select class="select">
                            {% for highlight in highlights %}
                                <option onselect="location.href = '/routeDetails/{{route.id}}/highlights/{{highlight.id}}';">
                                    {{ highlight.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </li>
        
                    <li class="nav-item mx-4 routeDetails_navButton">
                        <button class="btn float-start" href="/routeDetails/{{route.id}}/highlights/{{highlight.id}}/highlightImages" role="button">
                            Highlight Images
                        </button>
                    </li>
        
                    <li class="nav-item mx-4 routeDetails_navButton">
                        <button class="btn float-start" href="/routeImages" role="button">
                            Route Images
                        </button>
                    </li>


                    <!--TODO: if user is logged in (and is not creator) -> allow reviewing/rating-->
                    {%if current_user.is_authenticated() and current_user.username != route.creator %}
                        <li class="nav-item mx-4 routeDetails_navButton">
                            <button class="btn float-start" href="/routeReviewAdd" role="button">
                                Review erstellen
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    
        <!--Options to add route image if user is creator-->
        {% if current_user.username == route.creator %}
            <div class="row" style="background-color: var(--farbe2)">
                <ul class="nav justify-content-center border-bottom align-middle mt-2 mb-2">

                    <!--Add another route image-->
                    <li class="nav-item mx-4">
                        <form method="post">
                            {{routeImageForm.csrf_token}}
    
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        {{ routeImageForm.image.label(class="form-label") }}
                                    </div>
                                    <div class="col">
                                        {{ routeImageForm.image(class="form-control") }}
                                    </div>
                                    <div class="col">
                                        {{ routeImageForm.submit(class="btn routeDetails_navButton", style="background-color: var(--farbe6)") }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>


                    <!--Add another highlight image-->
                    <!--TODO: have to get selected highlight-->
                    <!-- <li class="nav-item mx-4">
                        <form method="post">
                            {{routeImageForm.csrf_token}}
    
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        {{ routeImageForm.image.label(class="form-label") }}
                                    </div>
                                    <div class="col">
                                        {{ routeImageForm.image(class="form-control") }}
                                    </div>
                                    <div class="col">
                                        {{ routeImageForm.submit(class="btn routeDetails_navButton", style="background-color: var(--farbe6)") }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li> -->
    
                    <!-- <li class="nav-item mx-4">
                        <button class="btn float-start" href="/routeImages" role="button">
                            Add Highlight Image
                        </button>
                    </li> -->
                </ul>
            </div>
        {% endif %}
    
        <!--Contains routeDetails: highlights, highlightImages, routeImages, tags, ...-->
        <div class="container-fluid">
            {% block routeDetailsContent %}{% endblock %}
        </div>
    
    </div>

{% endblock %}
