{% extends 'routeDetails.html' %}


{% block routeDetailsContent %}

    <h2>Bilder zur Route:</h2>

    <div class="row">
        <p class="routeDetails_descriptionBox">
            {{ route.description }}
        </p>
    </div>

    <div class="row">
        {% for im in images %}
            <div class="routeDetails_imageContainer col-lg-4 col-md-6">
                <img class="card-img" src="../{{ im }}" alt="Bild einer Route">
            </div>
        {% endfor %}
    </div>

{% endblock %}
