{% extends 'routeHighlights.html' %}

{% block routeHighlight %}

    <div class="container mt-3">
        <h3>
            Highlight Details:
        </h3>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">

                            <!--Name-->
                            <div class="row">
                                <div class="col">
                                    
                                </div>
                            </div>

                            <!--Description-->
                            <div class="row">
                                <div class="col">
                                    {{addHighlightForm.description.label(class='form-label')}}
                                    {{addHighlightForm.description(class='form-control')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Preview Image-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {{addHighlightForm.previewImage.label(class='form-label')}}
                            {{addHighlightForm.previewImage(class='form-control')}}
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
