{% extends 'routeDetails.html' %}


{% block routeDetailsContent %}

    <h2>Bilder zur Route:</h2>

    <div class="row">
        <p class="routeDetails_descriptionBox">
            {{ route.description }}
        </p>
    </div>

    <div class="row">
        <div class="col">
            {% for im in images %}
                <div class="routeDetails_imageContainer card col-lg-4 col-md-6 col-sm-12 p-3">
                    <img class="card-img" src="../{{ im.previewImage }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
