
:root {
    --farbe1: #2D5016;
    --farbe2: #93B7BE;
    --farbe3: #635255;
    --farbe4: #DD9787;
    --farbe5: #FFD4CA;
  }
  

.nav-link{
    color: black;
}

.nav-link:hover{
    color: var(--farbe1);
}


.post {
    width: 450px;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.post:hover .post-s {
    width: 400px;

}

.post img {
    display: block;
    width: 400px;
    height: 150px;

}
.post-s {
    width: 400px;
    height: 150px;
    background: rgba(200, 187, 224, 0.39);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease;

}
.post-s h2 {
    color:rgb(5, 5, 5);
    font-size: 50px;
    border: 6px solid rgb(5, 5, 5);
    padding: 10px 30px;
}

